ЗАДАНИЕ 1

In [ ]:
import pandas as pd
### fill the gaps below and send the script back

d = {'url':'https://www.numbeo.com/quality-of-life/rankings_by_country.jsp',
     'name': 'rankings_by_country',
     'load_func': lambda URL: pd.read_html(URL)[1]}

df = d['load_func'](d['url'])
### find top 5 countries by Quality of Life Index, excluding Luxembourg, Denmark, Switzerland
top_5_quality_of_life = df[(df["Country"] != "Luxembourg") & (df["Country"] != "Denmark") & (df["Country"] != "Switzerland")]
top_5_quality_of_life = top_5_quality_of_life.sort_values(by="Quality of Life Index", ascending=False)
top_5_quality_of_life = top_5_quality_of_life[:5]
print("top countries by quality of life")
print(top_5_quality_of_life["Country"])
print()
#получил с помощью gpt
countries_with_continents_dict = {
    "Luxembourg": "Europe",
    "Netherlands": "Europe",
    "Denmark": "Europe",
    "Oman": "Asia",
    "Switzerland": "Europe",
    "Finland": "Europe",
    "Iceland": "Europe",
    "Austria": "Europe",
    "Norway": "Europe",
    "Sweden": "Europe",
    "Australia": "Australia",
    "United States": "North America",
    "Germany": "Europe",
    "New Zealand": "Oceania",
    "Japan": "Asia",
    "Estonia": "Europe",
    "Qatar": "Asia",
    "Spain": "Europe",
    "Slovenia": "Europe",
    "United Arab Emirates": "Asia",
    "Croatia": "Europe",
    "Czech Republic": "Europe",
    "Lithuania": "Europe",
    "United Kingdom": "Europe",
    "Saudi Arabia": "Asia",
    "Portugal": "Europe",
    "Belgium": "Europe",
    "Singapore": "Asia",
    "Ireland": "Europe",
    "Canada": "North America",
    "France": "Europe",
    "Latvia": "Europe",
    "Taiwan": "Asia",
    "Israel": "Asia",
    "Cyprus": "Asia/Europe",  # Geographically in Asia, politically often associated with Europe
    "Slovakia": "Europe",
    "Kuwait": "Asia",
    "South Korea": "Asia",
    "Poland": "Europe",
    "South Africa": "Africa",
    "Italy": "Europe",
    "Uruguay": "South America",
    "Hungary": "Europe",
    "Bulgaria": "Europe",
    "Romania": "Europe",
    "Hong Kong (China)": "Asia",
    "Malaysia": "Asia",
    "Greece": "Europe",
    "Bosnia And Herzegovina": "Europe",
    "Turkey": "Asia/Europe",  # Transcontinental country
    "Mexico": "North America",
    "Belarus": "Europe",
    "India": "Asia",
    "Ecuador": "South America",
    "Jordan": "Asia",
    "Panama": "North America",
    "Georgia": "Asia/Europe",  # Transcontinental country
    "Serbia": "Europe",
    "China": "Asia",
    "Argentina": "South America",
    "North Macedonia": "Europe",
    "Brazil": "South America",
    "Azerbaijan": "Asia/Europe",  # Transcontinental country
    "Morocco": "Africa",
    "Russia": "Asia/Europe",  # Transcontinental country
    "Ukraine": "Europe",
    "Colombia": "South America",
    "Kenya": "Africa",
    "Pakistan": "Asia",
    "Albania": "Europe",
    "Chile": "South America",
    "Kazakhstan": "Asia/Europe",  # Transcontinental country
    "Indonesia": "Asia",
    "Thailand": "Asia",
    "Vietnam": "Asia",
    "Philippines": "Asia",
    "Lebanon": "Asia",
    "Egypt": "Africa",
    "Peru": "South America",
    "Iran": "Asia",
    "Sri Lanka": "Asia",
    "Bangladesh": "Asia",
    "Nigeria": "Africa"
}
Europe = [item for item in countries_with_continents_dict if countries_with_continents_dict[item] == "Europe"]
Africa = [item for item in countries_with_continents_dict if countries_with_continents_dict[item] == "Africa"]

### calculate average Quality of Life Index in Europe*

avg_quality_of_life_europe = df[df["Country"].isin(Europe)]["Quality of Life Index"].mean()
print("avg_quality_of_life_europe")
print(avg_quality_of_life_europe)
print()

### calculate average Quality of Life Index in Africa*

avg_quality_of_life_africa = df[df["Country"].isin(Africa)]["Quality of Life Index"].mean()
print("avg_quality_of_life_africa")
print(avg_quality_of_life_africa)
print()

### try to split countries into segments using approach you prefer
segment1 = [item for item in countries_with_continents_dict if len(countries_with_continents_dict[item].split("/")) == 2]
segment2 = [item for item in countries_with_continents_dict if countries_with_continents_dict[item] not in segment1]
print("Страны, которые находятся сразу на двух континентах")
print(segment1)
print("Страны, которые находятся на одном")
print(segment2)

top countries by quality of life
1    Netherlands
3           Oman
5        Finland
6        Iceland
7        Austria
Name: Country, dtype: object

avg_quality_of_life_europe
163.68

avg_quality_of_life_africa
98.82

Страны, которые находятся сразу на двух континентах
['Cyprus', 'Turkey', 'Georgia', 'Azerbaijan', 'Russia', 'Kazakhstan']
Страны, которые находятся на одном
['Luxembourg', 'Netherlands', 'Denmark', 'Oman', 'Switzerland', 'Finland', 'Iceland', 'Austria', 'Norway', 'Sweden', 'Australia', 'United States', 'Germany', 'New Zealand', 'Japan', 'Estonia', 'Qatar', 'Spain', 'Slovenia', 'United Arab Emirates', 'Croatia', 'Czech Republic', 'Lithuania', 'United Kingdom', 'Saudi Arabia', 'Portugal', 'Belgium', 'Singapore', 'Ireland', 'Canada', 'France', 'Latvia', 'Taiwan', 'Israel', 'Cyprus', 'Slovakia', 'Kuwait', 'South Korea', 'Poland', 'South Africa', 'Italy', 'Uruguay', 'Hungary', 'Bulgaria', 'Romania', 'Hong Kong (China)', 'Malaysia', 'Greece', 'Bosnia And Herzegovina', 'Turkey', 'Mexico', 'Belarus', 'India', 'Ecuador', 'Jordan', 'Panama', 'Georgia', 'Serbia', 'China', 'Argentina', 'North Macedonia', 'Brazil', 'Azerbaijan', 'Morocco', 'Russia', 'Ukraine', 'Colombia', 'Kenya', 'Pakistan', 'Albania', 'Chile', 'Kazakhstan', 'Indonesia', 'Thailand', 'Vietnam', 'Philippines', 'Lebanon', 'Egypt', 'Peru', 'Iran', 'Sri Lanka', 'Bangladesh', 'Nigeria']

ЗАДАНИЕ 2

In [ ]:
import pandas as pd
import sqlite3

DB_NAME = 'inventive_retail_group.db'

def create_sqlite_database(filename: str) -> None:
    """ create a database connection to an SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(filename)
        print(sqlite3.sqlite_version)
    except sqlite3.Error as e:
        print(e)
    finally:
        if conn:
            conn.close()

create_sqlite_database(DB_NAME)
conn = sqlite3.connect(DB_NAME)
df = pd.read_csv('https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv')
employees = df.drop('SALARY', axis=1)
salaries = df[['EMPLOYEE_ID', 'SALARY']]
employees.to_sql('employees', conn, index=False, if_exists='replace')
salaries.to_sql('salaries', conn, index=False, if_exists='replace')

### find employees which managers work in other department
employees_working_in_other = pd.read_sql(
'''SELECT a.EMPLOYEE_ID, a.DEPARTMENT_ID as EMPLOYEE_DEPARTMENT_ID,
a.MANAGER_ID, b.DEPARTMENT_ID as MANAGER_DEPARTMENT_ID
FROM employees a JOIN employees b ON a.MANAGER_ID = b.EMPLOYEE_ID
WHERE a.DEPARTMENT_ID != b.DEPARTMENT_ID'''
,conn)
print(employees_working_in_other)

### Calculate average salary for departments using window function
average_salaries_by_department = pd.read_sql(
'''SELECT DEPARTMENT_ID, AVG(SALARY) OVER (PARTITION BY DEPARTMENT_ID) AS average_salary FROM employees JOIN salaries USING (EMPLOYEE_ID)'''
, conn)
print(average_salaries_by_department)

3.37.2
    EMPLOYEE_ID  EMPLOYEE_DEPARTMENT_ID MANAGER_ID  MANAGER_DEPARTMENT_ID
0           200                      10        101                     90
1           201                      20        100                     90
2           203                      40        101                     90
3           204                      70        101                     90
4           205                     110        101                     90
5           103                      60        102                     90
6           108                     100        101                     90
7           114                      30        100                     90
8           120                      50        100                     90
9           121                      50        100                     90
10          122                      50        100                     90
11          123                      50        100                     90
12          124                      50        100                     90
    DEPARTMENT_ID  average_salary
0              10     4400.000000
1              20     9500.000000
2              20     9500.000000
3              30     4150.000000
4              30     4150.000000
5              30     4150.000000
6              30     4150.000000
7              30     4150.000000
8              30     4150.000000
9              40     6500.000000
10             50     3721.739130
11             50     3721.739130
12             50     3721.739130
13             50     3721.739130
14             50     3721.739130
15             50     3721.739130
16             50     3721.739130
17             50     3721.739130
18             50     3721.739130
19             50     3721.739130
20             50     3721.739130
21             50     3721.739130
22             50     3721.739130
23             50     3721.739130
24             50     3721.739130
25             50     3721.739130
26             50     3721.739130
27             50     3721.739130
28             50     3721.739130
29             50     3721.739130
30             50     3721.739130
31             50     3721.739130
32             50     3721.739130
33             60     5760.000000
34             60     5760.000000
35             60     5760.000000
36             60     5760.000000
37             60     5760.000000
38             70    10000.000000
39             90    19333.333333
40             90    19333.333333
41             90    19333.333333
42            100     8601.333333
43            100     8601.333333
44            100     8601.333333
45            100     8601.333333
46            100     8601.333333
47            100     8601.333333
48            110    10154.000000
49            110    10154.000000